* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 1110px;
  align-items: center;
  justify-content: center;
}

.block-left {
  width: 465px;
  height: 389px;
  margin-right: 180px;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 140%;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 136.7%;
  margin: 30px 0 30px 0;
}

a {
  background: #ff6861;
  border-radius: 100px;
  color: #ffffff;
  padding: 22px 70px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  display: block;
  width: 79px;
}

img {
  display: block;
}
